body{

    background-color: #333;

}

#contenedor{

    padding: 50px;
    width: 60%;
    height: 70%;
    background-color: white;
    border: solid 2px gray;
    border-radius: 5px;

}

ul{

    text-align: center;
    padding: 10px;

}

li {

    display: inline;
    padding: 10px 20px;
    margin: 2em;

}

li a:hover{

    color: gray;
    text-decoration: none;
    list-style: none;
    
}
