#contenedor{

    padding: 50px;
    width: 70%;
    height: 70%;
    background-color: white;
    border: solid 2px gray;
    border-radius: 5px;

}

table{

    border: 2px solid white;
    width: 50%;
    background-color: white;
    color: #333;
    font-size: 30px;

}

td{

    text-align: center;
    font-size: 20px;
    background-color: #cccdcd;
    font-weight: bold;

}
button{

    padding: 10px 20px;
    background-color: #225566;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 2px;
    cursor: pointer;

}

button:hover {

    background-color: #225566;

}

label[for="edad"]{

    font-size: 17px;
    display: inline-block;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;

}