#contenedor{

    padding: 50px;
    width: 70%;
    height: 70%;
    background-color: white;
    border: solid 2px gray;
    border-radius: 5px;

}

input[type="submit"]{

    padding: 10px 20px;
    background-color: #225566;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 2px;
    cursor: pointer;

}

input:hover[type="submit"] {

    background-color: #225566;

}

input[type="number"], select{

    width: 30%;
    padding: 7px;
    font-size: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    align-self: center;

}

input[type="text"], select{

    width: 30%;
    padding: 7px;
    font-size: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    align-self: center;

}

label[for="nombre"],
label[for="edad"],
label[for="comentarios"],
label[for="sexolabel"],
label[for="hombre"],
label[for="mujer"]{

    font-size: 17px;
    display: inline-block;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;

}